:root {
    --box-content-width: 288px;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #d5e1ef;
    font-family: "Outfit",Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 0px;
    color: #d5e1ef;
}

.qr-container {
    width: 320px;
    height: 499px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -250px;
    background-color: white;
    border-radius: 20px;
}


.qr-code {
    width: var(--box-content-width);
    height: var(--box-content-width);   
    margin: 16px 40px 16px 16px;
    background-color: white;

}

.qr-text {
    background: white;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.qr-bold {
    margin-top: 22px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 120%;
    color: #1F314F
}

.qr-light {
    font-size: 14px;
    color: #68778D;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.2px;
}

#img{
    width: var(--box-content-width);
    border-radius: 5%;
}

