:root {
    --box-content-width: 18rem;
}

* {
    margin: 0rem;
    padding: 0rem;
    background-color: #d5e1ef;
    font-family: "Outfit",Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 0rem;
    color: #d5e1ef;
}

.qr-container {
    width: 20rem;
    height: 31.1875rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-inline-start: -10rem;
    margin-block-start: -15.59375rem;
    background-color: white;
    border-radius: 5%;
}


.qr-code {
    width: var(--box-content-width);
    height: var(--box-content-width);   
    margin: 1rem 3rem 1rem 1rem;
    background-color: white;

}

.qr-text {
    background: white;
    padding-block-end: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-radius: 5%;
}

.qr-bold {
    margin-block-start: 1.5rem;
    font-weight: 700;
    font-size: 1.375rem;
    text-align: center;
    line-height: 120%;
    color: #1F314F;
    
}

.qr-light {
    margin-block-start: -0.0625rem;
    font-size: 0.875rem;
    color: #68778D;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.0125rem;
    font-weight: 400;
}

#img{
    width: var(--box-content-width);
    border-radius: 5%;
}

