:root {
    --box-content-width: 288px;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #d5e1ef;
    font-family: Arial, Helvetica, sans-serif;
}

.qr-container {
    width: 320px;
    height: 499px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -250px;
    background-color: white;
    border-radius: 5%;;
}


.qr-code {
    width: var(--box-content-width);
    height: var(--box-content-width);   
    margin: 5%;
    background-color: white;

}

.qr-text {
    background: white;
    margin: 10% 10%;
}

.qr-bold {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 120%;
}

.qr-light {
    font-size: 14px;
    color: darkgray;
    text-align: center;
    line-height: 140%;
}

#img{
    width: var(--box-content-width);
    border-radius: 5%;
}

